<% if list != @inactive_employees %>
  <% table_heads = %w(Name Phone Current\ Assignment Role) %>
  <table class="striped highlight">
    <thead>
      <% for th in table_heads %>
        <th><%= th %></th>
      <% end %>
      <th class="align_center">Options </th>
    </thead>
    <% for i in list %>
      <%= render partial: "#{model_name.pluralize}/table_data",
                 locals: {obj: i, list: list} %>
    <% end %>
  </table>
<% else %>
  <% table_heads = %w(Name Phone) %>
  <table class="striped highlight col s8">
    <thead>
      <% for th in table_heads %>
        <th><%= th %></th>
      <% end %>
      <th class="align_center">Options </th>
    </thead>
    <% for i in list %>
      <%= render partial: "#{model_name.pluralize}/table_data",
                 locals: {obj: i, list: list} %>
    <% end %>
  </table>
<% end %>
