<div class="row" id="main_content">
  <div class="col s12">
    <div class="card">
      <div class="card-image">
        <%= image_tag('alex_mark.jpg') %>
        <span class="card-title z-depth-0" id="about">About</span>
      </div>
      <div class="card-content" id="about">
        <p>Years before Alex and Mark won the Pittsburgh Best Dessert Award,
           they slept in a homeless shelter. Two struggling entrepreneurs
           desperately wanting to make it in the food industry sought out
           cheaper housing alternatives. Alex and Mark's struggles, however, led
           to their current success.
           <br><br>
           In an interview with People, Alex and Mark said, "It taught us how to
           take care of ourselves and that we could live through any situation,
           even if it meant going to a shelter for a small stint."
           <br><br>
           Alex and Mark now have a reported net worth of $80 million combined.
         </p>
      </div>
    </div>
  </div>
</div>
